<!DOCTYPE html>
<html lang="en">
<head>
  {{- partial "head.html" . -}}
</head>
<body>

  {{- partial "header.html" . -}}

  <div class="responsive-table container">
    <table>
      <thead>
        <tr>
          <th class="th-no">#</th>
          <th class="th-title">Nama Berkas</th>
          <th class="th-size">Ukuran</th>
          <th class="th-sub">Tanggal</th>
        </tr>
      </thead>
      <tbody>
        {{- $paginator := .Paginate (where .Data.Pages "Type" "post") 10 -}}
        {{- range $paginator.Pages -}}
        <tr class="item">
          <td>{{- with .Params.num -}}{{ . }}{{- end -}}</td>
          <td class="td-title">{{- .Title -}}</td>
          <td>{{- with .Params.size -}}{{ . }}{{- end -}}</td>
          <td>{{- .Date.Format "02 Jan" -}}</td>
        </tr>
        <tr class="dl">
          <td></td>
          <td colspan="3">
            {{- range .Params.dl -}}
            {{- if and .name .url -}}
            <li><a href="{{ .url }}" target=_blank>{{ .name }}</a></li>
            {{- end -}}
            {{- end -}}
          </td>
        </tr>
        {{- end -}}
      </tbody>
    </table>
    {{- template "_internal/pagination.html" . -}}
  </div>
  {{- partial "footer.html" . -}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ready(function(){
      $(".item").click(function(){
        $(this).toggleClass("active").next(".dl").toggle()
      });
    });
  </script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
